<div>
<br>
  <p>Gig Name: <%= @schedule.gig.name %></p>
  <p>Venue Name: <%= @schedule.venue.name %></p>
  <p>Show Time<%= @schedule.human_readable_date %></p>
  <p>Capacity: <%= @schedule.venue.seat %></p>
  <br>
  <br>
  <%= form_for([@schedule, @booking]) do |f| %>
    <%= label_tag 'How many tickets' %>
    <%= number_field 'amount', :amount %>
    <%= f.submit "Book Tickets" %>
  <% end %>

</div>




