<div>
  <p><strong>Important Information: </strong>Number of Tickets Limited to FIVE only. </p>

</div>



<div>
<br>
  <p><strong>Gig Name: </strong><%= @schedule.gig.name %></p>
  <p><strong>Venue Name: </strong><%= @schedule.venue.name %></p>
  <p><strong>Show Time: </strong><%= @schedule.human_readable_date %></p>
  <p><strong>Capacity: </strong><%= @schedule.venue.seat %></p>
  <p><strong>Ticket Price: </strong>FREE !!</p>

  <p><strong>Tickets Available: </strong><%=  @schedule.number_of_seat_available %></p>
  <br>
  <br>
  <%= form_for([@schedule, @booking]) do |f| %>
    <strong><%= label_tag 'How many tickets : ' %></strong>
    <%= number_field 'amount', :amount %>
    <%= f.submit "Book Tickets" %>
  <% end %>

</div>




