<div>

  <h2><%= @schedule.gig.name %></h2>
  <b><%= @schedule.venue.name %></b>
  <b><%= @schedule.human_readable_date %></b>
  <br>
  <br>
  <%= form_for([@schedule, @booking]) do |f| %>
    <%= f.submit "Book Tickets" %>
  <% end %>

</div>




