<nav style="padding: 20px;">
  <p><strong>User Email:</strong><%= user.email%></p>

  <p><strong>User Role:</strong> <%= user.role %></p>

<ul>
  <li><%= button_to('Show', user, method: :get)%></li>
  <li><%= button_to('Edit', edit_user_path(user), method: :get)%></li>
  <li><%= button_to('Delete user', user_path(user), method: :delete, data:{confirm: 'Delete the user? Are you sure?'})%></li>
</ul>
 
</nav>