<br>
<br>
<div>
<li><strong>Gig:</strong><%= @schedule.gig.try(:name) %></li><br>

<li><strong>Venue:</strong><%= @schedule.venue.try(:name) %></li><br>

<li><strong>Schedule:</strong><%= @schedule.human_readable_date %></li><br>
<br>

<div>
  <strong><%#= link_to 'Edit', edit_schedule_path(@schedule) %></strong>
  <strong><%= link_to 'Back', schedules_path %></strong>

  <strong><%= link_to 'Book This', new_schedule_booking_path(@schedule) %></strong>
</div>

  
</div>