
<nav style="padding: 20px;">
  <p><strong>Gig Name:</strong><%= gig.name%></p>

  <p><strong>Genre Name:</strong> <%= gig.genre.try :name %></p>

  <p><strong>Gig Image: </strong><%= image_tag gig.gig_image.medium.url %></p>

<ul>
  <li><%= button_to('Show', gig, method: :get)%></li>
  <li><%= button_to('Edit', edit_gig_path(gig), method: :get) if can? :manage, Gig %></li>
  <li><%= button_to('Delete gig', gig_path(gig), method: :delete, data:{confirm: 'Delete the gig? Are you sure?'}) if can? :delete, Gig %></li>
</ul>
 
</nav>