<div class="mid_tab">
  <li>
    <strong>Gigs Name:</strong>
    <%= @gig.name %>
  </li>

  <li>
    <strong>Image:</strong>
    <%= link_to image_tag(@gig.gig_image.medium.url) %>
  </li>

  <li>
    <strong>Genre:</strong>
    <%= @gig.name %> is in Genre: <%= @gig.genre.try(:name) %> <%#= Genre.find(@gig.genre_id).name%>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @gig.description %>
  </li>

  <li>
    <strong>Schedules and Venues: </strong><br>
    <% @schedules.each do |schedule| %>
    <%= schedule.human_readable_date %>
    <%= schedule.venue.try(:name) %><br>
    <% end %>
  </li>

  <strong><%= link_to 'Edit', edit_gig_path(@gig) %></strong>
  <strong><%= link_to 'Back', gigs_path %></strong>
</div>
