
<div class="form">
    <%#= link_to "All Gigs", gigs_path %>
    <%= form_tag(gigs_path, method: "get", class: 'inline-block float-left') do %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Search Gigs") %>
    <% end %>

    <%#= link_to "All Venues", venues_path %> 
    <%= form_tag(venues_path, method: "get", class: 'inline-block float-right') do %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Search Venues") %>
    <% end %>

   <%#= link_to "All Schedules", schedules_path %>

</div>



