<!DOCTYPE html>
<html lang="en">
<head>
  <title>GigsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper">
  <div id="header">
    <div class="title text-center ">
      <h1>Festival Gigs Reservation App</h1>
    </div>
  </div>
  
  <div id="content">
    <nav class="menu">
      <ul>
        <li> <%= link_to 'Home', root_path %> </li>
        <li><%= link_to "All Gigs", gigs_path %></li>
        <li> <%= link_to "All Venues", venues_path %>  </li>
        <li><%= link_to "All Schedules", schedules_path %></li>
        <li style="padding-top: 5px;">
          <%= form_tag(schedules_path, method: "get", class: ' float-left') do %>
          <%= text_field_tag(:name) %>
          <%= submit_tag("Search Gigs") %>
          <% end %>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="notice">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>

    <div class='login'>
      <ul>
        <% if current_user %>
        <li>Welcome back <%= current_user.email %></li><li>&emsp;</li> 
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <li><% else %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li>&emsp;</li>
        <li><%= link_to "Register", new_user_registration_path %></li>
        <li><% end %></li>
      </ul>
    </div>

    <div style="padding-bottom: 30px">
      <%= yield %>
    </div>

  </div>
  
  <div id="footer">
      <p>Copyright (c) 2015! &emsp; &emsp; Created by: Syed Atique &emsp; &emsp;Contact: +44(0)420007420 &emsp; &emsp;
      <a href="mailto:syed@syed.com">syed@syed.com</a></p>    
  </div>
</div>

</body>
</html>
