<!DOCTYPE html>
<html>
<head>
  <title>GigsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <header>
  <h1 style="text-align:center; color:red; font-size: 40px">Gigs Festival Reservation App</h1>
  </header>

  <div><h2><%= link_to 'HOME', root_path %></h2></div>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= render partial: "layouts/menu"%>

  <%= yield %>

    <div class="push"></div>
</div>
<div class="footer">
  
    <li><p>Copyright (c) 2015!</p></li>
  <li><p>Created by: Syed Atique</p></li><li><p>Contact information: <a href="mailto:syed@syed.com">syed@syed.com</a>.</p></li>
  <li><p><%= social_share_button_tag("My Site") %></p></li>
 
  </div>
</body>
</html>
